DATABASE_URL=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=joydrop-7a694.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=joydrop-7a694
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=joydrop-7a694.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
FIREBASE_PROJECT_ID=joydrop-7a694
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
OPENAI_API_KEY=""
ELEVENLABS_API_KEY=""
ELEVENLABS_VOICE_ID=""
CRON_SECRET=""
EMAIL_FROM="JoyDrop <birthdays@joydrop.test>"
